.wrapper {
  display: flex;
  align-items: center;
  gap: 5px;
}

.img {
  padding: 5px;
  border: 1px solid gray;
  border-radius: 50%;
}

.infoWrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
